.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
}

.message_info {
  margin-left: 20px;
}

.message_timespamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
